@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html,
body {
	min-height: 100%;
	background: linear-gradient(transparent, #6cdbeb, #99e7f3);
	/* background: linear-gradient(to right top, #65dfc9, #6cdbeb); */
	line-height: 1.5;
	font-family: "Poppins", sans-serif;
}
.wrapper {
	display: grid;
	grid-gap: 2px;
	grid-template-areas:
		"image-slider image-slider image-slider image-slider image-slider"
		"school-name-slogan school-name-slogan school-name-slogan school-name-slogan school-name-slogan"
		"notice-box notice-box youtube youtube youtube";
}
.image-slider {
	grid-area: image-slider;
	height: 600px;
	overflow: hidden;
}
.school-name-slogan {
	grid-area: school-name-slogan;
	height: 100px;
	font-size: 70px;
}
.notice-box {
	grid-area: notice-box;
	height: 500px;
	background: linear-gradient(
		to left bottom,
		rgba(255, 255, 255, 0.7),
		rgba(255, 255, 255, 0.3)
	);
}
.youtube {
	grid-area: youtube;
	height: 500px;
	background: linear-gradient(
		to right bottom,
		rgba(255, 255, 255, 0.7),
		rgba(255, 255, 255, 0.3)
	);
}
/* Image SLider START */
#slider,
.wrap,
.slide-content {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100vh;
	overflow-x: hidden;
}
.wrap {
	position: relative;
}
.slide {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.slide1 {
	background-image: url(../assests/demo-pic-1.jpg);
}
.slide2 {
	background-image: url(../assests/demo-pic-2.jpg);
}
.slide3 {
	background-image: url(../assests/demo-pic-3.jpg);
}
.slide4 {
	background-image: url(../assests/demo-pic-4.jpg);
}
.slide-content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}
.slide-content span {
	font-size: 5rem;
	color: #fff;
}
.arrow {
	cursor: pointer;
	position: absolute;
	top: 50%;
	margin-top: -50px;
	width: 0;
	height: 0;
	border-style: solid;
}
#arrow-left {
	border-width: 30px 40px 30px 0;
	border-color: transparent #ffffff transparent transparent;
	left: 0;
	margin-left: 30px;
}
#arrow-right {
	border-width: 30px 0 30px 40px;
	border-color: transparent transparent transparent #ffffff;
	right: 0;
	margin-right: 30px;
}
/* Image SLider END */
.container {
	min-height: 100%;
}
/* Footer Css START */
.footer {
	background: linear-gradient(
		to right bottom,
		rgba(255, 255, 255, 0.7),
		rgba(255, 255, 255, 0.3)
	);
	padding: 70px 0;
	margin-bottom: 0px;
	position: relative;
	margin-top: 5px;
}
.footer-container {
	max-width: 1170px;
	margin: 20pz;
}
ul {
	list-style: none;
}
.footer-row {
	display: flex;
	flex-wrap: wrap;
}
.footer-col {
	width: 25%;
	padding: 0 15px;
}
.footer-col h4 {
	font-size: 18px;
	color: #000;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before {
	content: "";
	position: absolute;
	left: 0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 15%;
}
.footer-col ul li:not(:last-child) {
	margin-bottom: 10px;
}
.footer-col ul li a {
	font-size: 16px;
	color: #000;
	text-decoration: none;
	font-weight: 300;
	color: #000;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover {
	color: lightseagreen;
	padding-left: 1px;
}
.footer-col .social-links a {
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(0, 0, 0, 0.2);
	margin: 0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #fff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover {
	color: #24262b;
	background-color: #fff;
}
.footer .footer-bottom {
	background: linear-gradient(
		to right bottom,
		rgba(255, 255, 255, 0.7),
		rgba(255, 255, 255, 0.3)
	);
	color: #000;
	height: 50px;
	width: 100%;
	text-align: center;
	position: absolute;
	bottom: 0px;
	left: 0px;
	padding-top: 10px;
}

/*Responsive START*/
@media (max-width: 767px) {
	.footer-col {
		width: 50%;
		margin-bottom: 30px;
	}
	.wrapper {
		grid-template-areas:
			"image-slider image-slider image-slider image-slider"
			"school-name-slogan school-name-slogan school-name-slogan school-name-slogan"
			"notice-box"
			"youtube youtube youtube";
	}
	.navbar .nav-links {
		display: flex;
		flex-direction: column;
	}
	.navbar {
		flex-direction: column;
		height: 12vh;
	}
}
@media (max-width: 574px) {
	.footer-col {
		width: 100%;
	}
	.wrapper {
		grid-template-areas:
			"image-slider image-slider image-slider image-slider"
			"school-name-slogan school-name-slogan school-name-slogan school-name-slogan"
			"notice-box"
			"youtube youtube youtube";
	}
}
/*Responsive END*/

/* Footer Css END */

/*Navbar Css START*/

.navbar {
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 8vh;
	background: white;
	background: linear-gradient(
		to right bottom,
		rgba(255, 255, 255, 0.7),
		rgba(255, 255, 255, 0.3)
	);
	margin-bottom: 5px;
}
.navbar .nav-links {
	display: flex;
	width: 30%;
	justify-content: space-between;
	text-decoration: none;
}
.navbar .nav-links li {
	display: flex;
	padding: 0px 20px;
	list-style: none;
}
.navbar .nav-links a {
	text-decoration: none;
	letter-spacing: 3px;
	color: black;
}
.logo {
	cursor: pointer;
}
.navbar .nav-links a {
	transition: all 0.3 ease 0s;
}
.navbar .nav-links a:hover {
	color: #0088a9;
}
.sub_menu1 {
	display: none;
}
.navbar .nav-links li:hover .sub_menu1 {
	display: block;
	position: absolute;
	margin-top: 15px;
	margin-left: -15px;
	background: white;
	z-index: 2;
	margin-top: 20px;
	background: linear-gradient(
		to right bottom,
		rgba(255, 255, 255, 0.7),
		rgba(255, 255, 255, 0.3)
	);
}
.navbar .nav-links li:hover .sub_menu1 ul {
	display: block;
	margin: 10px;
}
.navbar .nav-links li:hover .sub_menu1 ul li {
	width: 100%;
	padding: 10px;
	background: transparent;
	text-align: left;
}
.sub_menu2 {
	display: none;
}
.navbar .nav-links li:hover .sub_menu2 {
	display: block;
	position: absolute;
	margin-top: 15px;
	margin-left: -15px;
	background: white;
	z-index: 2;
	margin-top: 20px;
	background: linear-gradient(
		to right bottom,
		rgba(255, 255, 255, 0.7),
		rgba(255, 255, 255, 0.3)
	);
}
.navbar .nav-links li:hover .sub_menu2 ul {
	display: block;
	margin: 10px;
	transition-delay: 0s, 0s, 0s, 0.3s;
}
.navbar .nav-links li:hover .sub_menu2 ul li {
	width: 150px;
	padding: 10px;
	background: transparent;
	text-align: left;
}
/* Navbar Css END */
marquee {
	font-family: "Lobster", cursive;
}
/* Scrollbar START */
::-webkit-scrollbar {
	width: 12px;
}
::-webkit-scrollbar-thumb {
	background: linear-gradient(transparent, #6cdbeb);
	border-radius: 6px;
}
::-webkit-scrollbar-thumb:hover {
	background: linear-gradient(transparent, #00c6af);
}
/* Scrollbar END */
/* teachersinfo start */
.t-container {
	width: 200px;
	height: 200px;
	position: relative;
	justify-content: space-between;
	display: flex;
}
.wrapping {
	display: flex;
}
.t-image {
	opacity: 1;
	display: block;
	width: 100%;
	height: auto;
	margin-top: 20px;
	transition: 0.5s ease;
	backface-visibility: hidden;
	border-radius: 50%;
}
.middle-text {
	transition: 0.5s ease;
	opacity: 0;
	position: absolute;
	top: 100%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	text-align: center;
}
.t-container:hover .t-image {
	opacity: 0.3;
}

.t-container:hover .middle-text {
	opacity: 1;
}
.actual-text {
	background: linear-gradient(
		to right bottom,
		rgba(255, 255, 255, 0.7),
		rgba(255, 255, 255, 0.3)
	);
	margin-top: 100px;
	color: black;
	width: 200px;
	padding-left: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: left;
}
.ab-container {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	height: 300px;
}
.t-header {
	text-align: center;
	font-size: large;
	margin-top: 20px;
}
.t-wrapper {
	height: auto;
}
.loader {
	position: fixed;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 99;
	background: #161519;
}
.gone {
	animation: vanish 1s forwards;
}
@keyframes vanish {
	100% {
		opacity: 0;
		visibility: hidden;
	}
}
